<a href="https://colab.research.google.com/github/ranish234/INTRODUCTION-TO-PYTHON-/blob/main/Introduction_To_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# INTRODUCTION TO PYTHON


*   PYTHON IS EASY TO LEARN.
*   IT IS USED BY DATA SCIENTIST
*   IT IS CASE SENSITIVE LANGUAGE

# Variable :

*   variable are like a containers , used to store the values

In [1]:
a = "hi"

# DATA TYPES


*   basic types : integers , float , complex, bool , string
*   complex types : list , tuple , set , dictinary

#  Some important built in fuctions :


*   print()

*   type()
*   input()

In [2]:
print("Hello Python")

Hello Python

In [3]:
type("hi")

str

In [ ]:
a = int(input(" enter your name : "))

# Type Conversion

In [4]:
a = 34
str(a)

'34'

# Some important examples:

# Comment :

*   A piece of code that we do not want to exceute , but it povide a important information related to program.
* It can multiple  or single line .
it we writthen using "#" or """ """"

In [5]:
#  hi , this program of summation
a = 3
b = 4
print(a+b)

7

In [6]:
a = b = c = d = e = 56 - 5
print(a+b+c+d+e)

255

In [7]:
_ = "hello"
print(_)

hello